# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# environment
.venv

# plugin builder
README.txt
README.html

# Compiled translation files
*.qm

# Generated UI and Resource files
ui_*.py
*_rc.py